In [1]:
import pandas as pd
import numpy as np

In [2]:
# pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [3]:
ny_zipcodes = pd.read_csv("ny_zipcodes.csv")

In [4]:
ny_houses = pd.read_csv("NY-House-Dataset.csv")

In [5]:
ny_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

In [6]:
ny_houses.drop_duplicates(ignore_index=True, inplace=True)

In [7]:
ny_houses.drop(index=292, inplace=True)

In [8]:
ny_houses.nlargest(5, "PRICE")

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
1,Brokered by Serhant,Condo for sale,195000000,7,10.00,17545.00,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.77,-73.98
69,Brokered by Sotheby's International Realty - E...,Townhouse for sale,65000000,3,2.37,15200.00,4 E 79th St,"New York, NY 10075","4 E 79th StNew York, NY 10075",United States,New York,New York County,New York,East 79th Street,"4 E 79th St, New York, NY 10075, USA",40.78,-73.96
1044,Brokered by COMPASS,Co-op for sale,60000000,8,8.00,2184.21,960 5th Ave Unit 12,"Manhattan, NY 10075","960 5th Ave Unit 12Manhattan, NY 10075",New York,New York County,New York,Manhattan,960,"960 5th Ave #12, New York, NY 10075, USA",40.78,-73.96
138,Brokered by Douglas Elliman - 575 Madison Ave,House for sale,56000000,11,10.00,24000.00,9 W 54th St,"New York, NY 10019","9 W 54th StNew York, NY 10019",United States,New York,New York County,New York,West 54th Street,"9 W 54th St, New York, NY 10019, USA",40.76,-73.98
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.37,14175.00,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.77,-73.97

In [9]:
ny_houses.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.00,1400.00,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.76,-73.97
1,Brokered by Serhant,Condo for sale,195000000,7,10.00,17545.00,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.77,-73.98
2,Brokered by Sowae Corp,House for sale,260000,4,2.00,2015.00,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.54,-74.20
3,Brokered by COMPASS,Condo for sale,69000,3,1.00,445.00,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.76,-73.97
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.37,14175.00,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.77,-73.97

In [10]:
ny_houses.tail()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
4582,Brokered by COMPASS,Co-op for sale,599000,1,1.00,2184.21,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.77,-73.96
4583,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.00,2184.21,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.73,-73.86
4584,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.00,2184.21,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.75,-74.00
4585,Brokered by E Realty International Corp,Condo for sale,598125,2,1.00,655.00,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.74,-73.87
4586,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.00,750.00,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.58,-73.97

In [11]:
ny_houses.describe()

             PRICE    BEDS    BATH  PROPERTYSQFT  LATITUDE  LONGITUDE
count      4586.00 4586.00 4586.00       4586.00   4586.00    4586.00
mean    1913421.47    3.37    2.38       2176.01     40.71     -73.94
std     4979039.91    2.63    1.97       2280.42      0.09       0.10
min        2494.00    1.00    0.00        230.00     40.50     -74.25
25%      499000.00    2.00    1.00       1200.00     40.64     -73.99
50%      825000.00    3.00    2.00       2184.21     40.73     -73.95
75%     1497250.00    4.00    3.00       2184.21     40.77     -73.87
max   195000000.00   50.00   50.00      65535.00     40.91     -73.70

In [12]:
ny_houses.columns = ny_houses.columns.str.lower()

In [13]:
# ny_houses["zipcode"] = ny_houses.main_address.str[-5:]

In [14]:
ny_houses.drop(columns=["administrative_area_level_2", "main_address", "long_name", "address", "formatted_address", "street_name"], inplace=True)

In [15]:
ny_houses

,brokertitle,type,price,beds,bath,propertysqft,state,locality,sublocality,latitude,longitude
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.00,1400.00,"New York, NY 10022",New York,Manhattan,40.76,-73.97
1,Brokered by Serhant,Condo for sale,195000000,7,10.00,17545.00,"New York, NY 10019",New York,New York County,40.77,-73.98
2,Brokered by Sowae Corp,House for sale,260000,4,2.00,2015.00,"Staten Island, NY 10312",New York,Richmond County,40.54,-74.20
3,Brokered by COMPASS,Condo for sale,69000,3,1.00,445.00,"Manhattan, NY 10022",New York,New York County,40.76,-73.97
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.37,14175.00,"New York, NY 10065",New York,New York County,40.77,-73.97
...,...,...,...,...,...,...,...,...,...,...,...
4582,Brokered by COMPASS,Co-op for sale,599000,1,1.00,2184.21,"Manhattan, NY 10075",New York County,New York,40.77,-73.96
4583,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.00,2184.21,"Rego Park, NY 11374",New York,Queens County,40.73,-73.86
4584,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.00,2184.21,"New York, NY 10011",New York,New York County,40.75,-74.00
4585,Brokered by E Realty International Corp,Condo for sale,598125,2,1.00,655.00,"Elmhurst, NY 11373",Queens County,Queens,40.74,-73.87
4586,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.00,750.00,"Brooklyn, NY 11224",Kings County,Brooklyn,40.58,-73.97

In [16]:
# ny_houses["suburb"]
ny_houses["suburb"] = ny_houses.state.str.split(",", expand=True).iloc[:, 0]

In [17]:
ny_houses["zip_code"] = ny_houses.state.str[-5:]

In [18]:
# ny_houses.loc[~ny_houses.brokertitle.str.contains("Brokered by")]

In [19]:
ny_houses["broker"] = ny_houses.brokertitle.str.split("Brokered by", expand=True).iloc[:, 1].str.split("-", expand=True).iloc[:, 0].str.strip()

In [20]:
ny_houses.loc[ny_houses.broker.isna(), "broker"] = "No Broker"

In [21]:
ny_houses.drop(columns=["brokertitle", "state"], inplace=True)

In [22]:
ny_houses["broker"] = ny_houses.broker.str.title()

In [23]:
ny_houses.loc[(ny_houses.broker.str.contains("Corcoran")) & (~ny_houses.broker.str.contains("Llc")), "broker"] = "Corcoran"

In [24]:
ny_houses.loc[ny_houses.broker.str.contains("Sotheby"), "broker"] = "Sotheby's International Realty"

In [25]:
ny_houses.loc[ny_houses.broker.str.contains("Keller Williams"), "broker"] = "Keller Williams Realty"

In [26]:
ny_houses.loc[ny_houses.broker.str.contains("Christie"), "broker"] = "Christie's Int. Real Estate Group"

In [27]:
ny_houses.loc[ny_houses.broker.str.contains("Century 21"), "broker"] = "Century 21"

In [28]:
ny_houses.loc[ny_houses.broker.str.contains("Compass"), "broker"] = "Compass"

In [29]:
ny_houses.loc[ny_houses.broker.str.contains("Nest Seekers"), "broker"] = "Nest Seekers International"

In [30]:
ny_houses.loc[ny_houses.broker.str.contains("Coldwell"), "broker"] = "Coldwell Banker Realty"

In [31]:
ny_houses.loc[ny_houses.broker.str.contains("Exp Realty"), "broker"] = "Exp Realty"

In [32]:
ny_houses.loc[ny_houses.broker.str.contains("Brown Harris"), "broker"] = "Brown Harris Stevens"

In [33]:
ny_houses.loc[ny_houses.broker.str.contains("Amerihomes"), "broker"] = "Amerihomes Realty"

In [34]:
ny_houses.loc[ny_houses.broker.str.contains("Engel"), "broker"] = "Engel & Volkers"

In [35]:
ny_houses.loc[ny_houses.broker.str.contains("Ben Bay"), "broker"] = "Ben Bay Realty"

In [36]:
ny_houses.loc[ny_houses.broker.str.contains("Ashford Homes"), "broker"] = "Ashford Homes"

In [37]:
ny_houses.loc[ny_houses.broker.str.contains("Behfar Team"), "broker"] = "Behfar Team"

In [38]:
ny_houses.loc[ny_houses.broker.str.contains("Bergen Basin"), "broker"] = "Bergen Basin Realty"

In [39]:
ny_houses.loc[ny_houses.broker.str.contains("Berkshire Hathaway"), "broker"] = "Berkshire Hathaway"

In [40]:
ny_houses.loc[ny_houses.broker.str.contains("Bhhs"), "broker"] = "BHHS"

In [41]:
ny_houses.loc[ny_houses.broker.str.contains("Brooklyn Real Property"), "broker"] = "Brooklyn Real Property"

In [42]:
ny_houses.loc[ny_houses.broker.str.contains("Rutenberg"), "broker"] = "Charles Rutenberg Realty"

In [43]:
ny_houses.loc[ny_houses.broker.str.contains("Continental"), "broker"]  = "Continental Real Estate Group"

In [44]:
ny_houses.loc[ny_houses.broker.str.contains("Cruz Network"), "broker"] = "Cruz Network Realty"

In [45]:
ny_houses.loc[ny_houses.broker.str.contains("Dom Realty"), "broker"] = "Dom Realty Inc"

In [46]:
ny_houses.loc[ny_houses.broker.str.contains("East Coast Realty"), "broker"] = "East Coast Realty Partners"

In [47]:
ny_houses.loc[ny_houses.broker.str.contains("Exit Realty"), "broker"] = "Exit Realty Group"

In [48]:
ny_houses.loc[ny_houses.broker.str.contains("Exp Commercial"), "broker"] = "Exp Realty"

In [49]:
ny_houses.loc[ny_houses.broker.str.contains("Fillmore"), "broker"] = "Fillmore Real Estate"

In [50]:
ny_houses.loc[ny_houses.broker.str.contains("Four Seasons"), "broker"] = "Four Seasons Realty"

In [51]:
ny_houses.loc[ny_houses.broker.str.contains("Houlihan Lawrence"), "broker"] = "Houlihan Lawrence"

In [52]:
ny_houses.loc[ny_houses.broker.str.contains("Island Advantage"), "broker"] = "Island Advantage Realty"

In [53]:
ny_houses.loc[ny_houses.broker.str.contains("Ivey North"), "broker"] = "Ivey North"

In [54]:
ny_houses.loc[ny_houses.broker.str.contains("Milo"), "broker"] = "J Milo Real Estate"

In [55]:
ny_houses.loc[ny_houses.broker.str.contains("Landseair"), "broker"] = "Landseair Real Estate Group"

In [56]:
ny_houses.loc[ny_houses.broker.str.contains("Property Professional"), "broker"] = "Property Professionals Realty"

In [57]:
ny_houses.loc[ny_houses.broker.str.contains("Re Max"), "broker"] = "Re Max Real Estate Professionals"

In [58]:
ny_houses.loc[ny_houses.broker.str.contains("Re/Max"), "broker"] = "Re Max Real Estate Professionals"

In [59]:
ny_houses.loc[ny_houses.broker.str.contains("Realty Connect"), "broker"] = "Realty Connect USA"

In [60]:
ny_houses.loc[ny_houses.broker.str.contains("Realty Executives"), "broker"] = "Realty Executives Group"

In [61]:
ny_houses.loc[ny_houses.broker.str.contains("Reo First Choice"), "broker"] = "Reo First Choice Realty"

In [62]:
ny_houses.loc[ny_houses.broker.str.contains("Robert Defalco"), "broker"] = "Robert Defalco Realty"

In [63]:
ny_houses.loc[ny_houses.broker.str.contains("Serhant"), "broker"] = "Serhant"

In [64]:
ny_houses.loc[ny_houses.broker.str.contains("Ubiq"), "broker"] = "UBIQ NY"

In [65]:
ny_houses.loc[ny_houses.broker.str.contains("Vylla Home"), "broker"] = "Vylla Homes"

In [66]:
ny_houses.loc[(ny_houses.broker.str.contains("Weichert")) & (~ny_houses.broker.str.contains("Properties")), "broker"] = "Weichert Realtors"

In [67]:
ny_houses.loc[ny_houses.broker.str.contains("Welcome Home"), "broker"] = "Welcome Home Realty Network"

In [68]:
ny_houses.loc[ny_houses.broker.str.contains("Raveis"), "broker"] = "William Raveis Real Estate"

In [69]:
ny_houses.loc[ny_houses.broker.str.contains("Yoreevo"), "broker"] = "Yoreevo"

In [70]:
ny_houses.loc[(ny_houses.broker.str.contains("Your Home Sold") | ny_houses.broker.str.contains("Yourhomesold")), "broker"] = "Your Home Sold Guaranteed Realty"

In [71]:
# ny_houses.loc[ny_houses.broker.str.contains("Brown Harris"), "broker"].unique()

In [72]:
# ny_houses.broker.nunique()

In [73]:
# ny_houses.broker.sort_values().unique()

In [74]:
ny_houses["type"] = ny_houses.type.str.replace("for sale", "").str.replace("Condop", "Condo")

In [75]:
ny_houses = ny_houses[["broker", "locality", "sublocality", "suburb", "zip_code", 
                       "latitude", "longitude", "type", "price", "propertysqft", "beds", "bath"]]

In [76]:
# ny_houses.nlargest(5, "price")

In [77]:
ny_houses.drop(index=[304, 622], inplace=True)

C:\Users\AlexSneddon\AppData\Local\Temp\ipykernel_22336\2698838350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny_houses.drop(index=[304, 622], inplace=True)

In [78]:
ny_houses.reset_index(drop=True, inplace=True)

In [79]:
ny_houses

,broker,locality,sublocality,suburb,zip_code,latitude,longitude,type,price,propertysqft,beds,bath
0,Douglas Elliman,New York,Manhattan,New York,10022,40.76,-73.97,Condo,315000,1400.00,2,2.00
1,Serhant,New York,New York County,New York,10019,40.77,-73.98,Condo,195000000,17545.00,7,10.00
2,Sowae Corp,New York,Richmond County,Staten Island,10312,40.54,-74.20,House,260000,2015.00,4,2.00
3,Compass,New York,New York County,Manhattan,10022,40.76,-73.97,Condo,69000,445.00,3,1.00
4,Sotheby's International Realty,New York,New York County,New York,10065,40.77,-73.97,Townhouse,55000000,14175.00,7,2.37
...,...,...,...,...,...,...,...,...,...,...,...,...
4579,Compass,New York County,New York,Manhattan,10075,40.77,-73.96,Co-op,599000,2184.21,1,1.00
4580,Mjr Real Estate Llc,New York,Queens County,Rego Park,11374,40.73,-73.86,Co-op,245000,2184.21,1,1.00
4581,Douglas Elliman,New York,New York County,New York,10011,40.75,-74.00,Co-op,1275000,2184.21,1,1.00
4582,E Realty International Corp,Queens County,Queens,Elmhurst,11373,40.74,-73.87,Condo,598125,655.00,2,1.00
4583,Nyc Realty Brokers Llc,Kings County,Brooklyn,Brooklyn,11224,40.58,-73.97,Co-op,349000,750.00,1,1.00

In [80]:
zipcodes = pd.read_csv("zip_code_database.csv")

In [81]:
ny_mask = zipcodes.state == "NY"
ziptype_mask = zipcodes.type == "STANDARD"

In [82]:
ny_zc = zipcodes.loc[ny_mask & ziptype_mask].reset_index(drop=True)

In [83]:
ny_zc = ny_zc.drop(columns=["unacceptable_cities", "area_codes", "timezone", "world_region", 
                   "country", "decommissioned", "latitude", "longitude", "acceptable_cities"])

In [84]:
zc_list = pd.Series(ny_zc.zip.unique())

In [85]:
ny_houses = ny_houses.astype({"zip_code":"int64"})

In [86]:
ny_houses.loc[~ny_houses.zip_code.isin(zc_list)]

Empty DataFrame
Columns: [broker, locality, sublocality, suburb, zip_code, latitude, longitude, type, price, propertysqft, beds, bath]
Index: []

In [87]:
# ny_zc.county.value_counts()

In [88]:
# ny_houses.locality.value_counts()

In [89]:
# ny_houses.locality.value_counts()

In [90]:
# ny_houses.suburb.value_counts()

In [91]:
ny_houses.head(2)

,broker,locality,sublocality,suburb,zip_code,latitude,longitude,type,price,propertysqft,beds,bath
0,Douglas Elliman,New York,Manhattan,New York,10022,40.76,-73.97,Condo,315000,1400.00,2,2.00
1,Serhant,New York,New York County,New York,10019,40.77,-73.98,Condo,195000000,17545.00,7,10.00

In [92]:
ny_zc.head(2)

,zip,type,primary_city,state,county,irs_estimated_population
0,10001,STANDARD,New York,NY,New York County,20850
1,10002,STANDARD,New York,NY,New York County,62890

In [93]:
prim_city = dict(zip(ny_zc.zip, ny_zc.primary_city))

In [94]:
ny_houses["suburb"] = ny_houses.zip_code.map(prim_city)

In [95]:
zip_county = dict(zip(ny_zc.zip, ny_zc.county))

In [96]:
ny_houses["locality"] = ny_houses.zip_code.map(zip_county)

In [97]:
ny_houses.locality.value_counts()

locality
New York County    1225
Queens County      1194
Kings County       1159
Richmond County     526
Bronx County        473
Nassau County         7
Name: count, dtype: int64

In [98]:
ny_houses.sublocality.value_counts()

sublocality
New York            965
Kings County        696
Queens County       655
Queens              534
Richmond County     460
Brooklyn            442
Bronx County        291
New York County     271
The Bronx           174
Staten Island        58
Manhattan            21
Flushing              4
Coney Island          3
Riverdale             3
East Bronx            1
Brooklyn Heights      1
Jackson Heights       1
Rego Park             1
Fort Hamilton         1
Dumbo                 1
Snyder Avenue         1
Name: count, dtype: int64

In [99]:
ny_houses.drop(columns=["sublocality", "longitude", "latitude"], inplace=True)

In [100]:
ny_houses = ny_houses.assign(cost_per_sqft = ny_houses["price"]/ny_houses["propertysqft"])

In [101]:
ny_houses["type"] = ny_houses.type.str.strip()

In [102]:
ny_houses.to_csv("ny_houses_clean.csv", index=False)